pre[class*="language-"] {
	position: relative;
	margin: 0.5em auto 1em;
	width: fit-content;
	max-width: calc(100%);

	&:before {
		content: "";
		opacity: 0.8;
		display: block;
		position: absolute;
		left: -0.4em;
		top: 0.2em;
		font-size: 0.75em;
		font-family: monospace;
		padding: 0 1em;
		font-weight: bold;
	}

	code {
		padding: 1em 0 0 0;
	}
}

pre[class*="language-html"] {
	&:before {
		content: "HTML";
	}
}

pre[class*="language-css"] {
	&:before {
		content: "CSS";
	}
}

pre[class*="language-js"] {
	&:before {
		content: "JavaScript";
	}
}
