* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html {
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	padding: 1em;
}

header {
	padding: 1em;
	text-align: center;
}

h2 {
	margin: 1em auto 0.75em;
	max-width: 35em;
}

h3,
h4 {
	margin: 1.5em auto 1em
}


p {
	margin: 1em auto;
	max-width: 42em;
}

.button {
	text-decoration: none;
	text-transform: capitalize;
	color: black;
	display: inline-block;
	margin: 1em auto;
	padding: 2em 4em;
	border-radius: 1em;
	background-color: #025f13;
}

.button-lightRed {
	background-color: pink;
}

.button-red {
	background-color: red;
}

.max1280 {
	margin: 0 auto;
	max-width: 1280px;
}

#complete-demo {
	.center-view {
		text-align: center;
	}

	.button {
		display: block;
		width: max-content;
	}

	.whisper {
		display: block;
		font-size: 0.75em;
	}
}
