* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--sidebar-with: 18em;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
	text-align: center;
}

body {
	overflow-x: hidden;
}

header {
	padding: 1em;
	text-align: center;
}

.button {
	text-decoration: none;
	text-transform: capitalize;
	color: black;
	display: inline-block;
	margin: 1em auto;
	padding: 2em 4em;
	border-radius: 1em;
	background-color: #025f13;
}

.button-lightRed {
	background-color: pink;
}

.button-red {
	background-color: red;
}

.close-sidebar {
	display: inline-block;
	padding: 1em;
	position: absolute;
	right: 0.5em;
	top: 0.5em
}

.omit-p {
	padding: 0.5em;
	border: 1px solid #000;
	border-radius: .25em;
	width: 17em;
	margin: 1em auto 0;
}

.sidebar-container {
	background-color: darkgrey;
	border: 1px solid #000;
	height: 100dvh;
	padding: 1em;
	position: fixed;
	top: 0;
	transition-duration: 0.3s;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	width: min(var(--sidebar-with), 90%);
	z-index: 1
}

#left-sidebar {
	left: 0;
	transform: translate(calc(min(var(--sidebar-with), 100%) * -1), 0);

}

#right-sidebar {
	right: 0;
	transform: translate(min(var(--sidebar-with), 100%), 0);
}

#how-to-use-demo-sb-container {
	left: 0;
	transform: translate(min(calc(var(--sidebar-with) * -1), 100%), 0);
}

body:is(.show-left-sidebar) #left-sidebar {
	transform: translate(0, 0);

}

body:is(.show-right-sidebar) #right-sidebar {
	transform: translate(0, 0);
}

body:is(.show-how-to-use-demo) #how-to-use-demo-sb-container {
	transform: translate(0, 0);
}
